* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: linear-gradient(
    111deg,
    rgba(227, 234, 248, 1) 54%,
    rgba(242, 230, 232, 1) 68%,
    rgba(242, 230, 232, 1) 78%,
    rgba(242, 230, 232, 1) 94%
  );
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 140vh;
  background-color: #fffcf8;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2fr 2fr 6fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "s h h h h h h c c c c c"
    "s c1 c1 c2 c2 c3 c3 c c c c c"
    "s c4 c4 c4 c4 c4 c4 c c c c c"
    "s f f f f f f c c c c c ";
  border-radius: 40px;
}

/* thi is header start */
.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-child-1 {
  padding-top: 50px;
}
.header h1 {
  font-size: 24px;
  font-weight: bold;
}

.header-child-1 h3 {
  font-size: 18px;
  color: rgba(24, 24, 24, 0.712);
}
img.logo {
  background: white;
  box-shadow: 1px 2px 4px 0px;
  padding: 5px;
  border-radius: 7px;
}

.header-child-2 {
  display: flex;
  gap: 20px;
  padding-top: 50px;
}

img.logo:last-child {
  margin-right: 10px;
}

/* this is header end */

/* this is a sidbar */
.sidbar {
  background-color: white;
  border-radius: 30px 3px 0px 30px;
  grid-area: s;
  text-align: center;
  box-shadow: 0px 0px 1px 0px;
}
img.sidbar-logo {
  position: relative;
  top: 50px;
}

img.sidbar-logo-1 {
  position: relative;
  top: 100px;
}

img.sidbar-logo-2 {
  position: relative;
  top: 129px;
}

img.sidbar-logo-3 {
  position: relative;
  top: 133px;
}

img.sidbar-logo-4 {
  position: relative;
  top: 140px;
}

img.sidbar-logo-5 {
  position: relative;
  top: 137px;
}

img.sidbar-logo-6 {
  position: relative;
  top: 149px;
}
/* this is sidbar end */

/* this is content 1 */
.content-1 {
  padding: 11px;
  grid-area: c1;
  box-shadow: 1px 7px 10px 1px rgb(0 0 0 / 31%);
  background: white;
}

h1.bs {
  display: inline;
  font-size: 15px;
  position: relative;
  top: -14px;
  right: -13px;
  color: #474646;
}
img.log {
  width: 24%;
}

h2.cs {
  font-size: 22px;
}

h2.cs span {
  color: #545353b0;
  font-size: 16px;
}
button.btn {
  border: none;
  padding: 3px 11px 4px 7px;
  border-radius: 7px;
  margin-top: 10px;
}

button.bt-1 {
  background: #f8debd;
}

button.bt-2 {
  background: #fbf0f3;
}

button.bt-3 {
  background: #d0fbff;
}
/* this is content 1 end */

/* this is content 2 */
.content-2 {
  grid-area: c2;
  box-shadow: 1px 7px 10px 1px rgb(0 0 0 / 31%);
  background: white;
  padding: 10px;
}
/* this is content 2 end*/

/* this is content 3 */

.content-3 {
  grid-area: c3;
  box-shadow: 1px 7px 10px 1px rgb(0 0 0 / 31%);
  background: white;
  padding: 10px;
}
/* this is content 3 end */

/* this is content 4*/
.content-4 {
  color: white;
  grid-area: c4;
  position: relative;
  box-shadow: 1px 7px 10px 1px rgb(0 0 0 / 31%);
}

#date {
  width: 112px;
  right: 17px;
  cursor: pointer;
  position: absolute;
  text-align: center;
  padding: 6px;
  background: white;
  border-color: #7a7171;
  border-radius: 7px;
  top: 10px;
}
.content-4 h2 {
  position: absolute;
  top: 10px;
  color: #000000ba;
  left: 16px;
  font-size: 20px;
}

/* this is content 4 end*/

/* this is calculator*/
.calculator {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* claculator child */
.cal-top-head {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.cal-top-head h3 {
  font-size: 0.9rem;
  color: #ffffffc7;
}

select#week {
  padding: 4px;
  border-radius: 6px;
  background: black;
  color: #ffffffcc;
  cursor: pointer;
}

.cal-top-bottom {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "hi hi hi hi hi . bm bm bm bm bm bm "
    "wi wi wi wi wi . bm bm bm bm bm bm ";
  grid-row-gap: 17px;
  padding: 11px;
}

.bmi-top {
  grid-area: bm;
  background: #4a4949;
  border-radius: 20px;
  padding: 10px;
}

.bmi-top h3 {
  font-size: 1rem;
  text-align: center;
  color: #ffffffc7;
}

.bmi-child {
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
}

.bmi-child button {
  border: none;
  background: #d6ffdd;
  padding: 5px;
  border-radius: 10px;
  font-size: 11px;
  cursor: pointer;
}

.Height {
  grid-area: hi;
  background: #f8debd;
  border-radius: 10px;
  color: #292727b8;
  text-align: center;
  font-size: 17px;
}

.weight {
  grid-area: wi;
  background: #d0fbff;
  border-radius: 10px;
  color: #292727b8;
  text-align: center;
  font-size: 17px;
}

.hw img {
  display: block;
  position: relative;
  right: -78px;
}

.hw h4 {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
}
.hw {
  padding: 10px;
}

.line {
  width: 100%;
  background: #494545bf;
  height: 2px;
  margin-top: 62px;
}

.cal-bottom {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4fr 2fr 2fr 2fr;
  grid-template-areas:
    "ex ex ex ex ex . . para para para para para"
    "one one one one . . . para para para para para"
    "two two two two . . . para para para para para"
    "three three three three . . . para para para para para";
  grid-gap: 10px;
  padding-left: 18px;
}
.ex-top {
  grid-area: ex;
}

.ex h3 {
  font-size: 14px;
}

.ex h4 {
  font-size: 24px;
}

.ex-top h1 {
  font-size: 19px;
  padding-bottom: 12px;
  color: #ffffffa8;
}

.ex-top h3 {
  font-size: 15px;
  padding-bottom: 21px;
  color: #5e5e5e;
}

.ex-top button {
  background: #5e5e5e;
  border: none;
  padding: 8px;
  font-size: 13px;
  border-radius: 5px;
}
.one-cal {
  grid-area: one;
  background: wheat;
  border-radius: 11px;
  text-align: center;
}
.two-cal {
  grid-area: two;
  background: linear-gradient(45deg, #d2bfbf99, #f00f0f);
  border-radius: 10px;
  text-align: center;
}
.three-cal {
  grid-area: three;
  background: #5a5a2b;
  border-radius: 10px;
  text-align: center;
}

.ex {
  background: white;
  color: #8c8888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ex h3 {
  font-size: 14px;
}

.ex h4 {
  font-size: 24px;
}

i.fas.fa-arrow-up {
  color: #f4aead;
  padding-left: 6px;
}

i.fas.fa-arrow-down {
  color: #abe7b6;
  padding-left: 5px;
}

.para {
  grid-area: para;
}
.cal-bottom-child.two {
  position: relative;
}

img.body-heair {
  position: absolute;
  left: 59px;
}
img.full-body {
  width: 90%;
}
img.body-bg {
  position: absolute;
  right: 4px;
  top: 86px;
  width: 106%;
}

/* this is calculator end*/

/* this is footer*/

.footer {
  background: white;
  grid-area: f;
  box-shadow: 1px 0px 3px 0px rgb(0 0 0 / 31%);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.footer h2 {
  font-size: 18px;
  color: #3f3737c4;
}
.footer h3 {
  font-size: 11px;
  background: #b3d6da;
  border-radius: 10px;
  padding: 4px;
  color: #353535c2;
}
/* this is footer end */

@media only screen and (max-width: 760px) {
  .container {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100vh;
    background-color: #fffcf8;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 2fr 6fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "h h h h h h h h h h h h"
      "s s s s s s s s s s s s"
      "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1"
      "c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2"
      "c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3"
      "c4 c4 c4 c4 c4 c4 c4 c4 c4 c4 c4 c4"
      "c c c c c c c c c c c c"
      "f f f f f f f f f f f f ";
  }

  /* this is a sidbar */

  img.sidbar-logo {
    position: relative;
    top: 2px;
    left: -7px;
    width: 10%;
  }
  img.sidbar-logo-1 {
    top: 0px;
    left: 2px;
    width: 10%;
  }
  img.sidbar-logo-2 {
    top: 0px;
    width: 10%;
  }
  img.sidbar-logo-3 {
    top: 0px;
    width: 10%;
  }
  img.sidbar-logo-4 {
    top: 0px;
    width: 10%;
  }
  img.sidbar-logo-5 {
    top: 0px;
    width: 10%;
  }
  img.sidbar-logo-6 {
    top: 0px;
    width: 10%;
  }
  /* this is sidbar end */

  /* this is content 1 */
  .content-1 {
    text-align: center;
  }
  img {
    width: 100%;
  }
  h1.bs {
    display: inline;
    font-size: 1.5rem;
    position: relative;
    top: -1.4rem;
    right: -1.3rem;
    color: #474646;
  }
  img.log {
    width: 20%;
  }

  h2.cs {
    font-size: 2rem;
  }

  h2.cs span {
    font-size: 1.5rem;
  }
  button.btn {
    padding: 0.3rem 1.1rem 0.4rem 0.7rem;
    border-radius: 0.7rem;
    margin-top: 1rem;
  }

  /* this is content 1 end */

  /* this is content 2 */
  .content-2 {
    grid-area: c2;
    box-shadow: 1px 7px 10px 1px rgb(0 0 0 / 31%);
    background: white;
    padding: 1rem;
    text-align: center;
  }
  /* this is content 2 end*/

  /* this is content 3 */

  .content-3 {
    grid-area: c3;
    box-shadow: 1px 7px 10px 1px rgb(0 0 0 / 31%);
    background: white;
    padding: 1rem;
    text-align: center;
  }
  /* this is content 3 end */

  /* this is content 4*/
  .content-4 {
    color: rgb(248, 237, 237);
    grid-area: c4;
    position: relative;
    box-shadow: 1px 7px 10px 1px rgb(0 0 0 / 31%);
  }

  /* this is calculator*/

  /* claculator child */

  .cal-top-bottom {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "hi hi hi hi hi . wi wi wi wi wi"
      "bm bm bm bm bm bm bm bm bm bm bm ";
    grid-row-gap: 17px;
    padding: 11px;
  }

  .cal-bottom {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 10fr;
    grid-gap: 10px;
    padding-right: 18px;
  }
  .ex-top {
    grid-column: 1/-1;
    text-align: center;
  }

  .one-cal {
    border-radius: 11px;
    text-align: center;
    grid-column: 1/7;
  }
  .two-cal {
    border-radius: 10px;
    grid-column: 7/-1;
    grid-row: 2;
    text-align: center;
  }
  .three-cal {
    border-radius: 10px;
    text-align: center;
    grid-column: 1/-1;
    grid-row: 3;
  }

  .para {
    grid-column: 1/-1;
    grid-row: 4;
  }

  img.body-heair {
    width: 30%;
  }
  img.full-body {
    width: 90%;
  }
  img.body-bg {
    right: 9px;
    top: 205px;
    width: 104%;
  }
  /* this is calculator end*/

  /* this is footer*/

  .footer {
    background: white;
    grid-area: f;
    box-shadow: 1px 0px 3px 0px rgb(0 0 0 / 31%);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
  }
  .footer h2 {
    font-size: 0.69rem;
    color: #3f3737c4;
  }
  .footer h3 {
    font-size: 0.5rem;
    background: #b3d6da;
    border-radius: 10px;
    padding: 4px;
    color: #353535c2;
  }
}
